@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=EB+Garamond:wght@400;700&family=Fredoka+One&display=swap');

:root {
  /* --winning_sqaures: rgb(255, 45, 45); */
}


/*CSS RESET*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  display: grid;
}

.gameboard {
  z-index: 2;
  width: 600px;
  height: 600px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  place-self: center;
}

.gameboard>div {
  display: grid;
  border: 3px solid black;
  place-content: center;
  font-family: 'Fredoka One', cursive;
  transition: .5s;
  font-size: 110px;
}

.gameboard>div:hover {
  cursor: pointer;
}

.gameboard>div:active {
  font-size: 110px;

}

.gameboard>div[id="0"] {
  border-left: none;
  border-top: none;
  background-color: var(--winning_sqaures);


}

.gameboard>div[id="1"] {
  border-top: none;
  background-color: var(--winning_sqaures);

}

.gameboard>div[id="2"] {
  border-right: none;
  border-top: none;
  background-color: var(--winning_sqaures);


}

.gameboard>div[id="3"] {
  border-left: none;

}

.gameboard>div[id="5"] {
  border-right: none;

}

.gameboard>div[id="6"] {
  border-left: none;
  border-bottom: none;

}

.gameboard>div[id="7"] {
  border-bottom: none;

}

.gameboard>div[id="8"] {
  border-right: none;
  border-bottom: none;

}

.popup-box {
  width: 25rem;
  height: 40rem;
  background-color: rgb(215, 215, 215);
  position: absolute;
  place-self: center;
  border: 2px solid black;
  border-radius: 1.5rem;
  opacity: .8;
  display: flex;
  flex-direction: column;
  transition: .5s;

  justify-content: space-around;
  align-items: center;
}

.overlay {
  font-family: 'Fredoka One', cursive;
  position: absolute;
  /* Positioning and size */
  display: grid;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  /* color */
  z-index: 2;
}

#win-lose {
  
}

#play-again-btn {
  height: 5rem;
  width: 100%;
  border: solid black;
  border-left: none;
  border-right: none;

}

#play-again-btn:hover {
background-color: rgb(255, 114, 49);
}

